.App {
  text-align: left;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #282c34;
}

.App-header {
 
  /*min-height: 100vh;*/
  display: grid;
  padding-left: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movies{

}

.Series{
  
}

.Anime{
}

.ImageName{

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
